*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --color-secondary: #ffffff;
    --color-primary: #23272a;
    --color-section: #f6f6f6;
    --color-bluastro: #7289da;
    --color-header: #255ee9;
    --color-regcontainer: #313338;
    --color-reglines: #1e1f22;
}
html{
    scroll-behavior: smooth;
}
/*General*/
.debug{
    border: 2px solid firebrick;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5px;
}
#wallpaper{
    background-image: url(/img/wallpaper2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1200px;
    height: 1000px;
}
#register-title{
    color: var(--color-secondary);
    text-align: center;
    font-size: 25px;
    padding: 30px 0;
}
span{
    color: red;
}
.register-container{
    width: 500px;
    height: 760px;
    background-color: var(--color-regcontainer);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
}
.sub-container{
    width: 100%;
    height: 100%;
    color: var(--color-secondary);
}
.sub-container-two{
    width: 100%;
    height: 30%;
}
.textarea{
    width: 80%;
    height: 40px;
    background-color: var(--color-reglines);
    color: var(--color-secondary);
    font-size: 20px;
    padding-top: 10px;
    border-radius: 3px;
    border: none;
    margin: 10px 45px 15px;
}
.label-register{
    margin-left: 45px;
    font-size: small;
    font-weight: bold;
    color: var(--color-secondary);
}
#date{
    border: none;
    appearance: none;
    width: 80%;
    height: 40px;
    margin: 10px 45px 15px;
    background-color: var(--color-reglines);
    color: var(--color-secondary);
    border-radius: 3px;
}
.checkbox-container{
    margin-top: 10px;
    margin-left: 45px;

}
.checkbox{
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: var(--color-regcontainer);
    border: 1px solid var(--color-secondary);
    border-radius: 3px;
}
#label-checkbox{
    font-size: 10px;  
    color: var(--color-section);  
    text-align: center;
}
#button-register{
    appearance: none;
    border: none;
    border-radius: 3px;
    width: 80%;
    height: 40px;
    background-color: var(--color-header);
    color: var(--color-secondary);
    font-size: 15px;
    font-weight: bold;
    margin-left: 45px;
}
#label-checkbox-due{
    font-size: 10px;  
    color: var(--color-section);  
    text-align: center;
}
#account{
    width: 35%;
    margin-left: 40px;
    color: var(--color-header);
}
.color-blue{
    color: var(--color-header);
}
.reg-flex{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.d-flex{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.f-flex{
    justify-content: center;
}
.k-flex{
    justify-content: center;
    gap: 20px;
}
.flex-items-start{
    align-items: flex-start;
}
.section-flex{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}
.reverse-flex{
    flex-direction: row-reverse;
}
.column{
    flex-direction: column;
    align-items: center;
}
ul{
    list-style: none;
    font-size: 1rem;
    font-weight: 600;
}
a{
    color: var(--color-secondary);
    display: block;
    padding: 6px 10px;
    text-decoration: none;
}
a:hover{
    color: var(--color-secondary);
    text-decoration: underline;
    box-shadow: 5px 6px 6px 6px rgba(49, 48, 48, 0.7);
}
a.underline-dark:hover{
    color: var(--color-primary);
    text-decoration: underline;
}
a.bg-blue:hover{
    color: var(--color-primary);
}
/*Header*/
header{
    background-color: var(--color-header);
}
.space{
    height: 20px;
}
#hero{
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-repeat: no-repeat;
}
#hero .container{
    min-height: 500px;
}
.hero-content{
    max-width: 800px;
    color: var(--color-secondary);
}
.hero-content h1{
    text-align: center;
    padding: 20px;
    font-size: 40px;
}
.hero-content p{
    text-align: center;
    padding: 15px;
}
.btn{
    display: inline-block;
    background-color: var(--color-secondary);
    border-radius: 1.5rem;
    padding: 10px 15px;
    color: var(--color-primary);
    font-weight: bold;
}
.bg-dark{
    background-color: var(--color-primary);
    color: var(--color-secondary);
}
/*Main*/
body{
    background-color: var(--color-secondary);
    font-family: 'Noto Sans', sans-serif;
}
main section{
    padding: 60px 0;
}
.first-section{
    padding: 80px 0;
}
.odd{
    padding: 120px 0;
}
h2{
    font-size: 45px;
    padding-top: 27px;
    color: var(--color-primary);
}
.width-img{
    width: 55%;
}
.width-text{
    width: 45%;
}
.small{
    font-size: 20px;
    padding: 5px 0;
}
.first-p{
    margin-top: 20px;
}
.p-center{
    text-align: center;
}
.wave-container{
    min-width: 100%;
    max-height: 100px;
    /* position: relative; */
}
.wave{
    min-width: 100%;
    max-height: 80px;
    fill: var(--color-section);
    display: block;
    /* position: absolute;
    bottom: 0; */
}
.wave-reverse{
    width: 100%;
    max-height: 80px;
    fill: var(--color-section);
    display: block;
    /* position: absolute;
    top: 0; */
    transform: rotate(180deg);
}
.even{
    background-color: var(--color-section);
}
.stelline{
    display: block;
    width: 600px;
    max-height: 50px;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    background-image: url(../img/stars.svg);
    background-size: contain;
}
.star-text{
    position: relative;
    left: 45px;
}
.bg-blue{
    background-color: var(--color-bluastro);
    color: var(--color-secondary);
}
#margintop{
    margin-top: 20px;
}
/*Footer*/
footer{
    background-color: var(--color-primary);
    color: var(--color-secondary);
}
h3{
    color: var(--color-bluastro);
    font-size: 2rem;
    margin-bottom: 10px;
}
h4{
    color: var(--color-bluastro);
    font-size: 20px;
}
.c-height{
    min-height: 600px;
}
.blue-border{
    border-top: 1px solid var(--color-bluastro);
    min-height: 160px;
}
.select-container{
    position: relative;
    min-width: 50px;
    height: 30px;
    display: flex;
    padding: 3px 0;
}
#flag{
    max-width: 30%;
}
.select-box{
    border: none;
    appearance: none;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    padding: 0 30px 0 28px;
    max-width: 70%;
    font-size: 1rem;
    border: 1px solid var(--color-secondary);
    border-radius: 5px;
    margin-left: 10px;
}
.select-container .icon-container{
    width: 15px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 55px;
    bottom: 2px;
}
.icon-container i{
    font-size: 25px;
    color: var(--color-secondary);
}
.lista-footer,h3{
    margin-top: 60px;
}
.lista-footer > li{
    margin-top: 15px;
}
.footer-icon{
    max-height: 30px;
    max-width: 25%;
    font-size:25px;
    padding: 10px 0;
}